body {
  background: #f1f1f1;
  font-family: "Comic Sans MS"
}

.navbar {
  padding: 5px;
  background: #8583f7;
  overflow: hidden;
}

.navbar li {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
}

.navbar li a {
  color: #808080;
  text-decoration: none;
}

.header {
  height: 120px;
  padding-top: 30px;
  background: #f5f783;
  font-family: "Comic Sans MS"
}

.header h1 {
  padding: 20px;
  margin: 0;
  color: #de4c49;
  text-align: center;
}

.post {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}